@charset "UTF-8";

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    
}

:root {
    --purple: #351330;
    --red: #CC2A41;
    --tan: #E8CAA4;
    --navy: #424254;
    --teal: #64908A; 
    --pcolor: #fff;

    --h1:30px;


}   

body {
    margin: 0;
    color:var(--pcolor);
}
#header-banner{
    width:100%;
    position: relative;
    font-weight: bold;
 
}
.content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header header"
    "fullbar fullbar fullbar fullbar"
    "aside aside main main"
    "project2 project2 aside2 aside2"
    "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:100vh 200px 500px 500px 200px;
}

header {
    grid-area: header;
    background:var(--navy);
}
.fullBar {
    grid-area: fullbar;
    background:var(--purple);
    color:var(--tan);

    font-size: var(--h1);
    text-align: center;
    padding:50px;
}
aside {
    grid-area: aside;
    background:var(--red);
}

main {
    grid-area: main;
    background:var(--navy);
}
footer {
    grid-area: footer;
    background:var(--purple);
}


.project2 {
    grid-area:project2;
    background:var(--navy);
}
.aside2{
    grid-area: aside2;
    background:var(--teal);
}


.nameBlock {
    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    color:var(--tan);
    background:var(--red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 120px;

    padding:10px 30px;
    white-space: nowrap;

}